{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    
    


<div class="container-fluid">
        <div class="row   pt-3 pb-2 pl-5" style="background-color:#a6b71b ">
            <div class="col-md-12 text-left text-white">
                <span style="font-size: 20"> <b>About Us</b></span>
      
            </div></div></div>
    
    
<div class="container-fluid">
<div class="row pt-5" style="text-align: center">
<div class="col-md-6">
    
    <span style="font-size: 40"> <b>Report a Threat</b></span><br/><br/>
    <p style="color: #a6b71b;font-size: 20"><i> It is important for people to protect themselves,<br/> and to report any suspicious activity they encounter.</i></p>
    <p> -->Remain aware of your surroundings.</p>
    <p> -->Refrain from oversharing personal information.</p>
    <p> -->Say something if you see something. Many times,<br/> a person’s family or friends may be the first to notice<br/> a concerning change in behavior that may indicate<br/> a person is mobilizing to violence. </p>
    </div>
    
    <div class="col-md-6">
        
        <img src ="{%static 'img/reporthreat.jpg' %}" height="350">
  
    </div>
    
    </div>
   
</div>
    <br/> 
   
    <!--causes of terrorism-->
    
    
   <div class="container-fluid mb-4 mt-5 pl-5" style="background-color: #a6b71b">
                
                
       <div class="row">
           <div class="col-md-12 text-white">
               <p style="font-weight: 1000;font-size: 50; text-align: center"><u> Causes Of Terrorism</u></p><br/>
        
        
        </div>    
       
        </div>
       
       <div class="row ">
       <div class="col-md-12 text-center">
         <img src="{%static 'img/causes.jpg' %}"  height="500" width="900" >  
           
           </div>
       </div><br/>
       
       <div class="row">
       <div class="col-md-12">
           <p style="color: white; text-align: center; font-size: 20"><i> "Throughout history many terrorists have stated that they turned to violence after long deliberation, because they felt they had no other choice."</i></p>  
           
           </div>
       
       </div>
       
       <div class="row">
       <div class="col-md-4">
           
           <img src="{%static 'img/cause1.jpg' %}" height="200"> <br/><br/>
           <p style="border-left-style: solid; border-left-color: white;color: white; font-size: 30">&nbsp; Social and political<br/>&nbsp; injustice: <span style="font-size: 20">Terrorists acting on this<br/> &nbsp;&nbsp;&nbsp;basis may believe that they have<br/> &nbsp;&nbsp;&nbsp;been stripped of something they feel &nbsp;&nbsp;&nbsp;entitled to such as certain rights, land <br/>&nbsp;&nbsp;&nbsp;or possessions.</span></p>
           </div>
        <div class="col-md-4">
           <img src="{%static 'img/cause2.jpg' %}" height="200" width="360"> <br/><br/>
           <p style="border-left-style: solid; border-left-color: white;color: white;font-size: 30">&nbsp; Religious beliefs:<span style="font-size: 20"> Religious &nbsp;&nbsp;&nbsp;terrorists may use terrorism to punish &nbsp;&nbsp;&nbsp;what they see as ‘ungodly’ behaviour<br/>&nbsp;&nbsp;&nbsp; in society, or to avenge what they &nbsp;&nbsp;&nbsp;perceive as attacks on their beliefs.</span></p>
           
           </div>
           
           <div class="col-md-4">
           <img src="{%static 'img/cause3.jpg' %}" height="200"> <br/><br/>
           <p style="border-left-style: solid; border-left-color: white;color: white;font-size: 30">&nbsp; Socio-economic &nbsp;&nbsp;factors:<span style="font-size: 20">&nbsp;Research has shown that<br/>&nbsp;&nbsp; deprivation (poverty, lack of <br/>&nbsp;&nbsp;&nbsp;education, lack of political freedom)<br/> &nbsp;&nbsp;&nbsp;can drive people to terrorism.  </span></p>
           
           
           </div>
       </div>
       
       
    </div>
   
    
    
     
    
   
    
{% endblock %}    