{% extends 'base1.html' %}
{% load static %}
{% block content %}
        
      <div class="page-holder w-100">
          <div class="row pt-5">
          <div class="col-md-2"></div>
          <div class="col-md-4 pt-5" style="text-align: center">
          <img src="{%static 'img/icofont11.jpg' %}" height="160"><br/>
            <h2 > My Profile </h2></div>
              <div class="col-md-4 pt-4">
              <form>
                  <b> Email:</b> <label>gillraman389@gmail.com</label> <br/>
                  <b> First Name:</b><label> Raman</label><br/>
                  <b> Last Name:</b><label> Gill</label><br/>
                  <b> City:</b><label> Amritsar</label><br/>
                  <b> State:</b><label> Punjab</label><br/>
                  <b> DOB:</b><label> 28.10.1995</label><br/>
                  <b> Pin Code:</b><label> 143001</label><br/>
                  <b> Phone Number:</b> <label> 98734-34678</label>
                  
                  
                  </form>
              
              
              </div>
              {% endblock %}

          
          
          
          
          
          
          
        </div></div>
      
   