{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    
    <img src="{%static 'img/terror11.jpg' %}" data-target="#carouselExampleIndicators" height="50px" width="90px" data-slide-to="0" class="active i1" style="opacity: none"> 
      <img src="{%static 'img/terror12.jpg' %}" data-target="#carouselExampleIndicators" height="50px" width="90px" data-slide-to="1" style="margin-left: 10px; opacity: 1;" class="i1" >
      <img src="{%static 'img/terror4.jpg' %}" data-target="#carouselExampleIndicators" height="50px" width="90px" data-slide-to="2" style="margin-left: 20px;opacity: none; " class="i1" >
      <img src="{%static 'img/terror13.jpg' %}" data-target="#carouselExampleIndicators" height="50px" width="90px" data-slide-to="3" style="margin-left: 20px;opacity: none; " class="i1" >
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static 'img/terror11.jpg' %}" class="d-block w-100 h-75" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="{%static 'img/terror12.jpg' %}" class="d-block w-100 h-75" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{%static 'img/terror4.jpg' %}" class="d-block w-100 h-75" alt="...">
    </div>
      <div class="carousel-item">
      <img src="{%static 'img/terror13.jpg' %}" class="d-block w-100 h-75" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev a1" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next a1" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
        
</div>
    
    <!--
    <div class="container-fluid">
        <div class="row   pt-3 pb-2" style="background-color: white">
            <div class="col-md-12 text-left " style="color: #767a70">
               <h4> We talk about</h4> </div>
    <div class="container-fluid">
        <div class="container">
        <div class="row bg-light pt-5 pb-5 text-center">
            <div class="col-md-4" style="border:1px solid black">
            <div class="row   pt-3 pb-2">
                <div class="col-md-6">
                    <img src="G%20(6).jpg" height="100" width="100"></div>
               <div class="col-md-6"><h2> Military Education</h2> </div>
                
                </div>
            </div>
            
            <div class="col-md-4" style="border:1px solid black">
            <div class="row   pt-3 pb-2">
                <div class="col-md-6">
                    <img src="G%20(6).jpg" height="100" width="100"></div>
               <div class="col-md-6"><h2> Military Education</h2> </div>
                
                </div>
            </div>
            
            <div class="col-md-4" style="border:1px solid black">
            <div class="row   pt-3 pb-2">
                <div class="col-md-6">
                    <img src="G%20(6).jpg" height="100" width="100"></div>
               <div class="col-md-6"><h2> Military Education</h2> </div>
                
                </div>
            </div>
            
            -->
    
    <div class="container-fluid" >
        <div class="row   pt-3 pb-2" style="background-color: white">
            <div class="col-md-12 text-left " style="color: #767a70">
               <h4 style="padding-left: 60px; border-bottom-style:groove"> We talk about</h4> </div> <br/> <br/> <br/>
            <div class="container" >
    
            <div class="row" >
            <div class="col-md-4"  >
        
            <div class="card mb-3" id="i3" style="max-width: 540px; border-style: solid; border-color: #a6b71b;">
  <div class="row no-gutters p-3"  style="border-style: solid; border-color: #a6b71b; ">
    <div class="col-md-4" >
      <img src="{%static 'img/slide2.jpg' %}"  height="100%" width="100%" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
        </div>
        
                    <div class="col-md-4" >
        
            <div class="card mb-3" id="i3" style="max-width: 540px; border-style: solid; border-color: #a6b71b">
  <div class="row no-gutters p-3" style="border-style: solid; border-color: #a6b71b;">
    <div class="col-md-4">
      <img src="{%static 'img/slide11.jpg' %}" height="100%" width="100%" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
        </div> 

        
                    <div class="col-md-4" >
        
            <div class="card mb-3" id="i3" style="max-width: 540px;border-style: solid; border-color: #a6b71b">
  <div class="row no-gutters p-3" style="border-style: solid; border-color: #a6b71b;">
    <div class="col-md-4">
      <img src="{%static 'img/slide1.jpg' %}" height="100%" width="100%" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
        </div>

            </div>
            </div>
            
            
            <!--latest terrorist news-->
            
            
            <div class="container-fluid">
        <div class="row   pt-3 pb-2" style="background-color: white">
            <div class="col-md-12 text-left " style="color: #767a70">
                <h4 style="padding-left: 60px; border-bottom-style:groove"> Latest Terrorist News</h4> </div></div> <br/> <br/> <br/>
            
            <div class="row  pt-3 pl-0">
            <div class="col-md-4">
                <img src="{%static 'img/latestnews1.jpg' %}"></div>
                <div class="col-md-4" id="i2" style="border-left-style: inset; border-left-color: #a6b71b">
                    
                    <h4> 5 Terrorist killed in Jammu and kashmir</h4><br/>
                    <div class="row">
                    <div class="col-md-3">
                        <img src="{%static 'img/terro1.jpg' %}" height="100px" width="100px"></div>
                    <div class="col-md-9">
                    <span style="font-family: Oswald, sans-serif; font-size: 0.9em;text-transform: uppercase;color:#a6b71b" > April 5,2020 <br/>
                       <h6 style="color: black; text-transform: lowercase "> by admin </h6><br/>
                        
                        <i class="icofont-speech-comments" ></i>
                        
                        |
                        
                     <i class="icofont-ui-love" ></i>
        
                   
                    </span></div>
                    </div> </div>
                <div class="col-md-4" id="i2" style="border-left-style: inset; border-left-color: #a6b71b">
                  
                
                <h4> Pulwama attack</h4><br/>

                <div class="row ">
                    <div class="col-md-3">
                        <img src="{%static 'img/slide11.jpg' %}" height="120px" width="100px"></div>
                    <div class="col-md-9">
                    <span style="font-family: Oswald, sans-serif; font-size: 0.9em;text-transform: uppercase;color:#a6b71b" > April 5,2020 <br/>
                       <h6 style="color: black; text-transform: lowercase "> by admin </h6><br/>
                        
                        <i class="icofont-speech-comments" ></i>
                        
                        |
                        
                     <i class="icofont-ui-love" ></i>
        
                   
                    </span></div>
                </div> </div>
                
                
                </div> 
            
            <div class="row pt-3 pl-0">
            <div class="col-md-4">
                <img src="{%static 'img/latestnews3.jpg' %}" height="224px"  ></div>
               <div class="col-md-4" id="i2" style="border-left-style: inset; border-left-color: #a6b71b">
            <h4> Dantewada Attack</h4><br/>
                   <div class="row">
                    <div class="col-md-3">
                        <img src="{%static 'img/terror5.jpg' %}" height="130px"  width="100px"></div>
                    <div class="col-md-9">
                    <span style="font-family: Oswald, sans-serif; font-size: 0.9em;text-transform: uppercase;color:#a6b71b" > April 9,2019 <br/>
                       <h6 style="color: black; text-transform: lowercase "> by admin </h6><br/>
                        
                        <i class="icofont-speech-comments" ></i>
                        
                        |
                        
                     <i class="icofont-ui-love" ></i>
        
                   
                    </span></div>
                    </div> </div>
                
                 <div class="col-md-4" id="i2" style="border-left-style: inset; border-left-color: #a6b71b">
                  
                
                <h4> Sukma attack</h4><br/>

                <div class="row ">
                    <div class="col-md-3">
                        <img src="{%static 'img/terror3.jpg' %}" height="120px" width="100px"></div>
                    <div class="col-md-9">
                    <span style="font-family: Oswald, sans-serif; font-size: 0.9em;text-transform: uppercase;color:#a6b71b" > March 13,2018 <br/>
                       <h6 style="color: black; text-transform: lowercase "> by admin </h6><br/>
                        
                        <i class="icofont-speech-comments" ></i>
                        
                        |
                        
                     <i class="icofont-ui-love" ></i>
        
                   
                    </span></div>
                </div> </div>
                
                 <div class="container-fluid">
            <div class="row pt-3 pl-0">
            <div class="col-md-4">
                <img src="{%static 'img/latestnews5.jpg' %}" height="224px"  ></div>
               <div class="col-md-4" id="i2" style="border-left-style: inset; border-left-color: #a6b71b">
            <h4> Amarnath Yatra Attack</h4><br/>
                   <div class="row">
                    <div class="col-md-3">
                        <img src="{%static 'img/terror111.jpg' %}" height="140px" width="100px" ></div>
                    <div class="col-md-9">
                    <span style="font-family: Oswald, sans-serif; font-size: 0.9em;text-transform: uppercase;color:#a6b71b" > July 11,2017 <br/>
                       <h6 style="color: black; text-transform: lowercase "> by admin </h6><br/>
                        
                        <i class="icofont-speech-comments" ></i>
                        
                        |
                        
                     <i class="icofont-ui-love" ></i>
        
                   
                    </span></div>
                    </div> </div>
                
                 <div class="col-md-4" id="i2" style="border-left-style: inset; border-left-color: #a6b71b">
                  
                
                <h4> Sanjuwan attack</h4><br/>

                <div class="row ">
                    <div class="col-md-3">
                        <img src="{%static 'img/terror3.jpg' %}" height="120px" width="100px"></div>
                    <div class="col-md-9">
                    <span style="font-family: Oswald, sans-serif; font-size: 0.9em;text-transform: uppercase;color:#a6b71b" > February 10,2018 <br/>
                       <h6 style="color: black; text-transform: lowercase "> by admin </h6><br/>
                        
                        <i class="icofont-speech-comments" ></i>
                        
                        |
                        
                     <i class="icofont-ui-love" ></i>
        
                   
                    </span></div>
                </div> </div>
                
            
            
                </div>
            </div>
                             </div> <br/> <br/>       
   
                
     
      <!--Most wanted terrorist-->
        <div class="container-fluid pt-2" style="background-image: url({%static 'img/footer1.jpg' %})">
        <div class="row   pt-4 pb-2" >
            <div class="col-md-12 text-left " style="color: #767a70">
                <h4 style="padding-left: 60px; border-bottom-style:groove;color: white"> Most Wanted Terrorist Groups</h4> </div></div> <br/>  <br/>
                
                
                
                
                    <div class="row text-center ml-5 " >
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem; background-color:  transparent; border-style: solid; border-color:white" >
  <img src="{%static 'img/wanted1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="color: white">nasir al Wuhayshi</h5>
    <p class="card-text" style="color: #a6b71b">Nasir Abdel Karim al-Wuhayshi,alias Abu Basir, was a citizen of Yemen and the leader of the Islamist militant group al-Qaeda in the Arabian Peninsula.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
                        </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem; background-color:  transparent; border-style: solid; border-color:white">
  <img src="{%static 'img/wanted3.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body" >
    <h5 class="card-title" style="color: white">Masood Azhar</h5>
    <p class="card-text" style="color: #a6b71b">Masood Azhar is leader of the Pakistan-based terrorist organisation, active mainly in the Pakistani-administered portion of the state of Jammu and Kashmir.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
                        </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;background-color:  transparent; border-style: solid; border-color:white">
  <img src="{%static 'img/wanted4.jpg' %}" height="160px" width="150px"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="color: white">Hafiz Saeed</h5>
    <p class="card-text" style="color: #a6b71b">Hafiz Muhammad Saeed is a Pakistani Islamist militant, who is a co-founder of Lashkar-e-Taiba and the chief of Jama'at-ud-Da'wah, operating mainly from Pakistan.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
                        </div>
                    
                    
                    </div>
                
                
                
                </div><br/> <br/>
                
                
         <!--videos-->       
                
       <div class="container-fluid mb-4 mt-5 pl-5 pr-5" style="background-color: black">
                
                
       <div class="row">
           <div class="col-md-12 text-white">
               <p style="font-weight: 1000;font-size: 100; text-align: center"> //Some Videos//</p><br/>
           <iframe width="100%" height="400"  src="https://www.youtube.com/embed/videoseries?list=PL9tgLc3A10gZsejXPbnknBGz8N2h54Ic7" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           
           
           
           </div>
           </div></div> 
                <br/> <br/>
                
                
            
                <!--videos-->
                
                
                
 {% endblock %}
                
                
                
                
            
            
            
            
        
          